doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#333333')
    meta(name='msapplication-TileColor', content='#333333')
    meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')
    
    title= pageMeta.title + ' | ' + config.title
    
    //- SEO / OpenGraph
    meta(name='description', content=pageMeta.description)
    meta(property='og:title', content=pageMeta.title)
    meta(property='og:type', content='website')
    meta(property='og:description', content=pageMeta.description)
    meta(property='og:image', content=pageMeta.image)
    meta(property='og:url', content=pageMeta.url)
    meta(property='og:site_name', content=config.title)
    
    //- Favicon
    each favsize in [57, 60, 72, 76, 114, 120, 144, 152, 180]
      link(rel='apple-touch-icon', sizes=favsize + 'x' + favsize, href='/favicons/apple-icon-' + favsize + 'x' + favsize + '.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/favicons/android-icon-192x192.png')
    each favsize in [32, 96, 16]
      link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')
    link(rel='manifest', href='/manifest.json')
    
    //- Site Properties
    script.
      var siteConfig = !{JSON.stringify({ title: config.title, theme: config.theming.theme, darkMode: config.theming.darkMode, lang: config.lang.code, company: config.company })}
    
    //- CSS


    link(
      type='text/css'
      rel='stylesheet'
      href='/css/app.93745de01007862324fe.css'
      integrity='sha256-t4Yg9EBxCf2wpwq64kxQcCygdqGzWTMfDaUMddFMgRo= sha512-xJi1P3+Vz/wEIcPP3fUDge8lQ7UlJPo+D4RaUiX/q+mBO0yysF1ROjU6skOzPZ5OQJH216XaZSilRVnJ9+/Cug=='
      crossorigin='use-credentials'
    )


    
    //- JS


    script(
      type='text/javascript'
      src='/js/runtime.6085f9bcbc8bbd889ce9.js'
      integrity='sha256-Ime9Sgg89qDYOtiV6salF3+Coyx8cNaIPTtVtLP7WZE= sha512-AzJGpXY/gwQP4BATE6mJTp0ayjt2uU44S6WOqr7XeDmXrSOpntJb3/34YzLa80V2mib/X2254Ov4APj8TI6FWw=='
      crossorigin='use-credentials'
      )



    script(
      type='text/javascript'
      src='/js/app.93745de01007862324fe.js'
      integrity='sha256-y4hUJry/YSwWb1GwztNHZj4FO07ZVha4Hssj94npg00= sha512-j3bbRPCxgJcGnyGg3JXO+j0jPQ1ICr1aFKDFf4IYAwa61zbVcHRWRvmZav/WY2A38C8OLVKo1n/4EAkMylFDNA=='
      crossorigin='use-credentials'
      )


    
    block head
    
  body
    block body
