doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#333333')
    meta(name='msapplication-TileColor', content='#333333')
    meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')
    title Wiki.js Setup
    
    //- Favicon
    each favsize in [57, 60, 72, 76, 114, 120, 144, 152, 180]
      link(rel='apple-touch-icon', sizes=favsize + 'x' + favsize, href='/favicons/apple-icon-' + favsize + 'x' + favsize + '.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/favicons/android-icon-192x192.png')
    each favsize in [32, 96, 16]
      link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')
    link(rel='manifest', href='/manifest.json')
    
    //- Site Lang
    script.
      var siteConfig = !{JSON.stringify({ title: config.title })}
    
    //- CSS


    link(
      type='text/css'
      rel='stylesheet'
      href='/css/setup.22078ee8e720eb8e4323.css'
      integrity='sha256-qQweMQRuHylMQz4zpRbjqnLcCc1rXe7fwe0um7Uutc0= sha512-oeJ8yp5GFRk/9huKnYuT6rIhsoe18PvRg9wbHrh87kztLtSP+filM+Nnt1kVsJUCxwxfsckLtO04w296YcsWzQ=='
      crossorigin='use-credentials'
    )


    
    //- JS


    script(
      type='text/javascript'
      src='/js/runtime.6085f9bcbc8bbd889ce9.js'
      integrity='sha256-Ime9Sgg89qDYOtiV6salF3+Coyx8cNaIPTtVtLP7WZE= sha512-AzJGpXY/gwQP4BATE6mJTp0ayjt2uU44S6WOqr7XeDmXrSOpntJb3/34YzLa80V2mib/X2254Ov4APj8TI6FWw=='
      crossorigin='use-credentials'
      )



    script(
      type='text/javascript'
      src='/js/setup.22078ee8e720eb8e4323.js'
      integrity='sha256-j/GBaTF6lY5WnJEGbPFDmkKjJLZn+y8O2IFmWO4HeCQ= sha512-TQ1vF9CML5iCjSd/c4xjVAPXdA1POEdixdn+8x4mHAnLrXYaEclvp99Lo5qqGlNbxDSs9VrOoJB5832g0UOZag=='
      crossorigin='use-credentials'
      )


    
  body
    #root
      setup(telemetry-id=telemetryClientID, wiki-version=packageObj.version)
